body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(55, 152, 190);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 420px;
    box-shadow: 0 15px 30px;
    height: 400px;
}
.display{
    background: lightgray;
    padding: 15px;
    border-radius: 10px;
    text-align: right;
    font-size: 22px;
    margin-bottom: 15px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
button{
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.op{
    background: yellow;
}
.num{
    background: lightblue;
}
.clear{
    background: red;
    color: white;
}
.equal{
    background: green;
    color: white;
    grid-column: span 4;
    width: 100px;
}