body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

header {
    background: blue;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    margin: 30px auto;
    width: 85%;
    background-color: lightgray;
    box-shadow: 0 0 5px;
    border: 3px solid white;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
}

.profile-img {
    width: 200px;
    display: block;
    margin-left: 15px auto;
    
}

.card p {
    font-size: 16px;
    line-height: 1.6;
}

.card ul {
    padding-left: 20px;
    line-height: 1.6;
}

footer {
    background-color: blue;
    color: white;
    padding: 10px 0;
    text-align: center;
}
