body{
    background:white ;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    width: 450px;
    background: white;
    padding: 45px;
    margin: 90px auto;
    box-shadow: 0 0 20px lightgray;
    border-radius: 10px;
}
h2{
    text-align: center;
    color: blue;
    font-size: 50px;
}
.input{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 5px;
}
button{
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.task{
    display: flex;
    align-items: center;
    border-bottom: 1px dashed lightgray;
    padding: 1px;
}
.tick{
    color: green;
    margin-right: 15px;
}
.border{
    border: 2px solid lightgrey;
    padding: 6px;
    border-radius: 5px;
}
.done1{
    text-decoration: line-through;
    color: black;
    text-align: center;
    flex:1;
}
.done3{
    text-decoration: line-through;
    color: black;
    text-align: center;
    flex:1;
}
.done2{
    color: black;
    text-align: center;
    flex:1;
}

.remove{
    background: red;
    padding: 6px 10px;
}