body {
    background: #ccc;
    margin: 0;
    padding: 20px;
    font-family: "Times New Roman", serif;
}
.paper {
    width: 210mm;
    min-height: 297mm;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    box-sizing: border-box;

}
.top-bar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-size: 30px;
   
}

.top-bar span {
    background-color: black;  
    color: white;              
    border: 1px solid black;
    padding: 5px 8px;
    font-size: 20px;
    font-weight: bold;
}

.main-title {
    text-align: center;
    font-size: 90px;
    margin: 20px 0 5px;
}

.sub-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 40px;
}
.content {
    display: flex;
    gap: 6px;   
    margin-top: 10px; 
}
.column {
    padding: 4px;   
    flex: 1;
    text-align: justify;
    line-height: 1.2; 
}

.image-box {
    padding: 5px;
    flex: 0 0 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box img {
    width: 100%;
    height: 450px;
}
.bottom-text {
    padding: 10px;
    margin-top: 5px;   
    text-align: justify;
}

.footer {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid black;
    margin-top: 20px;
    padding-top: 10px;
    font-weight: bold;
}
@media (max-width: 900px) {
    .paper {
        width: 95%;
        min-height: auto;
    }

    .content {
        flex-direction: column;
    }

}

