body {
    background-color: #f0f8ff;
    font-family: Arial;
}

h1 {
    color: #ff5733;
    text-align: center;
}

p {
    color: #34495e;
    font-size: 30px;
}
h2 {
    color: #5e050a;
    background-color: rgb(207, 170, 122);
}
h3 {
    color: #0a343a;
    background-color: rgb(250, 250, 113);
    font-size: 20px;
}
h4 {
    color: #2c2d86;
    background-color: rgb(120, 169, 211);
   font-family: Georgia, 'Times New Roman', Times, serif;
}

