.movies-container {
  padding: 40px;
  background: palegreen;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.movies-container h1 {
  margin: 30px 0 20px;
  text-align: center;
  color: black;
  font-size: 60px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}

.movie-card {
  width: 300px;
  height: 390px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.movie-card img {
  width: 250px;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-card h3 {
  margin: 10px 0;
}

.movie-card button {
  padding: 8px 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movie-card button:hover {
  background: lightgreen;
}
