.payment-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: palegreen;
}

.payment-container input {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid  blueviolet;
}

.payment-container button {
  padding: 12px 25px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-container button:hover {
  background:lightgreen;
}
