*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navb{
    display: flex;
    align-items: center;
    padding: 15px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin: 15px;
}
a{
    text-decoration: none;
    color: lightcyan;
    font-size: 22px;
    font-weight: bold;
}
a:hover{
    color: lightslategray;
}
p{
    color: darkolivegreen;
    font-size: 40px;
    font-weight: bold;
}
.main{
    max-width: 1300px;
    margin: auto;
    padding-left:25px;
    padding-right: 25px;
}
.r1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.column{
    flex-basis: 50%;
    min-width: 350px;
}
.column img{
    max-width: 100%;
    padding: 50px ;
}
.column h1{
    font-size: 50px;
    line-height: 1.5;
    margin: 25px 0;
    color: rgb(44, 42, 42);
}
.btn{
    border-radius: 30px;
    display: inline-block;
    padding: 10px;
    color: green;
    background: lightgoldenrodyellow;
    margin-top: 20px;
}
.btn:hover{
   background-color: lightpink;
}
.head{
    background-color: lightsalmon;
}
.banner{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px 30px;
    
}
.ad{
    position: relative;
    width: 450px;
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 30px;
}
.ad img{
    width: 90%;
    height: 120%;
    object-fit: cover;
}
.ad-text{
    position: absolute;
    top: 55%;
    left: 25%;
    right:25%;
    bottom: 25%;
    background: rgb(233, 201, 201);
    padding: 10px 25px;
    font-size:20px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    text-align: center;

}
.ad-text:hover{
    background: lightpink;
}
.category{
    margin: 60px;
}
.category h1{
    text-align: center;
    font-size: 50px;
    color: #082f50;
    margin-bottom: 20px;
    padding: 0;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 40px;
}
.product{
    background: lightpink;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.product:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.product img{
    width: 80%;
     border-radius: 10px;
}
.product h3{
    font-size: 20px;
    margin: 15px 0 6px;
    color: rgb(13, 3, 78);
}
.price{
    font-size: 20px;
    color: rgb(68, 1, 1);
    font-weight: bold;
}
.bt{
  border-radius: 30px;
    display: inline-block;
    padding: 10px;
    color: rgb(2, 68, 2);
    background: rgb(199, 199, 146);
    margin-top: 10px; 

}
.bt:hover{
   background-color: lightpink;
}
.offers{
    padding: 90px;
    text-align: center;
    background:rgb(224, 181, 188);
}
.offers h2{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(58, 16, 38);
}
.offers p{
    font-size: 30px;
    color: rgb(180, 18, 18);
}
.offers span{
    color: rgb(32, 12, 51);
    font-weight: bold;
}
.about-sec{
    padding: 80px 60px;
    background: lightsalmon;
    margin-top: 80px;
}
.about-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.about-img{
    flex: 1;
}
.about-img img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: rgb(54, 21, 199);
    text-align: center;
}
.about-content p{
    font-size: 25px;
    line-height: 1.5;
    color: rgb(10, 73, 75);
    margin-bottom: 15px;
}
.about-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 14px 30px;
    background: rgb(190, 111, 124);
    color: rgb(46, 6, 58);
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
}
.about-btn:hover{
    background: lightgreen;
}
.contact{
    padding: 60px;
    text-align: center;
    background: lightpink;
    margin-top: 90px;
}
.contact h2{
    font-size: 45px;
    color: rgb(79, 4, 150);
}
.contact p{
    color: rgb(199, 69, 22);
    margin-top: 20px;
    font-size: 30px;
}
.account{
    padding: 60px;
    background:lightsalmon;
    text-align: center;
    margin-top: 80px;
}
.account h2{
    font-size: 50px;
    color: rgb(235, 12, 68);
}
.login-box{
    width: 400px;
    height: 400px;
    font-size: 30px;
    color: rgb(7, 7, 82);
    margin: auto;
    margin-top: 10px;
    background: peachpuff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.login-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.login-box p{
    font-size: 15px;
    margin-top: 10px;
}
.login-box a{
    color:blue;
}
footer{
    background:lightpink;
    color: rgb(230, 193, 193);
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
footer p{
    color: rgb(173, 33, 33);
    font-size: 20px;
}

